.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
    margin: 10px auto;
    text-align: left;
}

.content > * {
    margin: 0;
    padding: 5px;
}

.media {
    height: 150px;
    width: 75%;
    margin: 0 auto;
    background-color: aqua;
}

.extras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0;

}