.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: whitesmoke;
    margin: 10px auto;
    box-shadow: 2px 2px 2px gray;
}

.content > * {
    margin: 0;
    padding: 5px;
}

.above-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center ;
}

.favorites-button {
    border: 2px solid blue;
    padding: 5px;
}

.favorites-button:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
    border: 2px solid white;
}

.title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title h4 {
    width: 60%;
}



.media {
    height: 150px;
    width: 150px;
}

.extras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 0;

}