* {
    border: 1px solid red;
    box-sizing: border-box;
  }
  body,
  html,
  #root {
    width: 100%;
    background-color: #dae0e6;
  }
  
  html {
    font-size: 18px;
  }
  
  
  .App {
    width: 100%;
    color: blue;
  
  }
    /* Banner, r/subreddits, searchbar */
  
  header {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      position: fixed;
      top: 0;
      /* change margin of subreddits,contentlist, and favoritesbar when updating */
      height: 100px; 
      background-color: whitesmoke;
    }

    header h1 {
      margin: 0;
    }

  header h1:hover {
    cursor: pointer;
  }

    .main-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      gap: 15px;
      background-color: whitesmoke;
    }

  .menuButton{
    width: 10%;
    height: auto;
  }
  
  
  /* sidebar */
  .subreddits {
    display: flex;
    position: fixed;
    top:-100%;
    left: 0;
    width: 20%;
    height: 75%;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
  }
  
 
  .subreddits a {
    display: block;
    margin: 0.5rem ;
    color: blue;
  }
  
  .subreddits a.active {
    color: burlywood;
  }

  .zmenuStyle{
  display: flex;
  position: fixed;
  overflow: scroll;
  margin: 0;
  top:0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
 background-color: whitesmoke;
  z-index: 10;
  }

 

  @media screen and (min-width: 500px) {
    .menuButton{
      display: none;
    }
    .subreddits{
      top: 0;
    }
    
    
  }
 